.idea/
idea/

netbeans/
.netbeans/

eclipse/
.eclipse/

vscode/
.vscode/
.vs/
.vsc/

build/
output/
out/
dist/
bin/

vendor/

.misc/
!**/.keep

.env*
!.env.public

#REM: unit and integration test metadata for caching 
.phpunit.*